<table class="table table-striped table-bordered" id="searchTable">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Barcode</th>
      <th>Serial Number</th>
      <th>Purchase Date</th>
    </tr>
  </thead>  
  <tbody>
    <% @result.each do |result| %>
      <tr>
        <td><%= result.id %></td>
        <td><%= link_to result.name, [result.asset_type, result] %></td>
        <td><%= result.status %></td>
        <td><%= result.barcode %></td>
        <td><%= result.serial_number %></td>
        <td><%= date_to_string(result.purchase_date.to_date) %></td>
      </tr>
    <% end %>  
  </tbody>
</table>