<% if @histories.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
      <th>Name</th>
      <th>Issued On</th>
      <th>Returned On</th>
      <th>Type</th>
      <th>Status</th>
      <th>Assignment Remark</th>
      <th>Return Remark</th>
      </tr>
    </thead>
    <tbody>
      <% @histories.each do |history| %>
      <tr>
        <% if params[:type] == "asset" %>
          <td><%= show_employee history %></td>
        <% else %>
          <td><%= link_to history.asset.name, history.asset %></td>
        <% end %>
        <td width="120px"><%= date_to_string history.date_issued %></td>
        <td width="120px"><%= date_to_string history.date_returned %></td>
        <td><%= history.expected_return_date? ? "Temporary" : "Permanent" %></td>
        <td><%= history.date_returned? ? "Returned" : "Assigned" %></td>
        <td width="20%"><span id='remark_<%= history.id %>'><%= history.comments.first.try(:body) if history.comments.first %></span></td>
        <td width="20%"><span id='return_remark_<%= history.id %>'><%= history.comments.last.try(:body) if history.comments.size > 1 %></span></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <b>There is no assignment history</b>
<% end %>