<div class="assetHeaderName">
  <h2><%= @asset.display_name %></h2>
  <% if can? :update, @asset %>
    <span><%= link_to t('.edit', :default => t("helpers.links.edit")), edit_asset_type_asset_path(@asset.asset_type_id, @asset), :class => 'btn' unless @asset.retired? %></span>
    <span><%= link_to 'Return Asset', return_asset_type_asset_path(@asset.asset_type, @asset), :class => 'btn btn-danger' if @asset.status == "Assigned" %></span>
    <span><%= link_to 'Retire Asset', retire_asset_asset_type_asset_path(@asset.asset_type, @asset), :class => 'btn btn-danger', method: :put, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } unless @asset.status == "Assigned" || @asset.retired? %></span>
    <span><%= link_to 'Assign', new_asset_type_asset_assignment_path(@asset.asset_type, @asset), :class => "btn btn-primary #{class_name('assignments', 'new')}" if @asset.assignable? && !@asset.retired? %></span>
  <% end %>  
</div>
<div class="btn-group btn-group-justified">
  <% if can? :update, @asset %>
    <%= link_to 'Detail', asset_type_asset_path(@asset.asset_type, @asset, query: 'detail'), :remote => true, :class => "btn btn-default tab #{tag_class_name('assets', 'show')} remote-true-ajax-call" %>
    <%= link_to "Assignment History", histories_path(:type => "asset", :id => @asset.id), remote: true, :class => "btn btn-default tab remote-true-ajax-call" %>
    <%= link_to "Asset History", asset_type_asset_path(@asset.asset_type, @asset, query: 'history'), remote: true, :class => "btn btn-default tab remote-true-ajax-call" %>
    <%= link_to "Files", uploaded_files_asset_path(@asset), remote: true, method: :put, :class => "btn btn-default tab remote-true-ajax-call" %>
  <% end %>
  <% if current_employee.has_role?(:admin) %>
    <%= link_to 'Tickets', asset_tickets_path, remote: true, :class => 'btn btn-default tab remote-true-ajax-call' %>
  <% end %>  
</div>
<div id="showFlashMsg"></div>
<div id="assetShowPageInfo">
  <%= render :partial => "show_detail" %>
</div>