<ul class="nav">
  <% unless current_employee.has_role?(:super_admin) %>
    <li><%= link_to 'Home', root_path, :class => class_name("home", "index") %></li>
  <% end %>  
  <% if current_employee.has_role?(:admin) %>
    <li><%= link_to 'Add new asset', new_asset_path, :class => class_name("assets", "new") %></li>
    <li><%= link_to 'Add new Employee', new_employee_path, :class => class_name("employees", "new") %></li>
    <li><%= link_to 'Assign asset', new_assignment_path, :class => class_name("assignments", "new") %></li>
    <li><%= link_to 'Search', search_path, :class => class_name("home", "search") %> </li>
  <% end %>
  <% if can? :manage, Company  %>
    <li><%= link_to "Companies", companies_path, :class => class_name("companies", "index") %></li>
  <% end %>
  <% if can? :read, Ticket  %>
    <li><%= link_to "Tickets", tickets_path, :class => class_name("tickets", "index") %></li>
  <% end %>
</ul>
<span class="pull-right">
  <ul class="nav">
    <li><%= link_to 'Edit Password', password_reset_employees_path %></li>
    <li><%= link_to 'Sign Out', destroy_employee_session_path, :method => :delete %></li>
  </ul>
</span>      
